@let p = product();
@let discountedPrice = product().price * (1 - product().discount) | currency;
<div class="details">
  <img [src]="getImageUrl(p)" [alt]="product().name" />
  <div>
    <h2>{{p.name }}</h2>
    <p>{{p.description }}</p>
    <p>      Part Type:  {{ p.category | categoryToPartType: false}}          </p>
    
    @if (product().productNotes; as notes) {
      <p>Product Notes: {{ notes }}</p>
    }
    <span class="pill" [class.red]="availableInventory() < 5">
          {{availableInventory() | i18nPlural:inventoryMap }}
    </span>
  </div>
</div>
<div class="price">
  <p [ngClass]="getPriceClasses()">{{ product().price | currency }}</p>
  @if (product().discount > 0) {
  <p>{{ discountedPrice }}</p>
  }
  <button class="cta" (click)="addToCart()">Buy</button>
</div>